* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 30px;
  line-height: 1.5;
}

main {
  padding: 10px;
}

#countdown-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: lightgray;
  margin: 0 auto;
  margin-bottom: 10px;
}

#countdown-timer h2 {
  font-size: 2vw;
}

#time-units-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-unit {
  display: inline-block;
  margin: 20px;
  font-size: 8vw;
}

.time-unit-label {
  font-size: 1.5vw;
  opacity: 0.8;
}

#next-competition {
  margin-top: 30px;
  line-height: 2;
}

form {
  margin-top: 20px;
  margin-bottom: 20px;
}

label {
  margin-left: 20px;
  margin-bottom: 10px;
}

input {
  padding: 5px;
  margin: 10px;
  width: 250px;
}

#start-countdown-button {
  padding: 10px 30px;
  margin-top: 30px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

#start-countdown-button:hover {
  background-color: #ff7f00;
}

#error-message {
  color: #ff7070;
  margin-top: 5px;
  font-size: 12px;
}

footer {
  background-color: gray;
  color: #fff;
  padding: 10px;
  font-style: italic;
  font-size: 12px;
}

footer a {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  #countdown-timer {
    margin: 1px;
    padding: 1px;
  }

  #countdown-timer h2 {
    font-size: 4vw;
    padding: 5px;
  }

  #countdown-timer .time-unit {
    font-size: 8vw;
  }

  #countdown-timer .time-unit-label {
    font-size: 2vw;
  }
}

@media screen and (max-width: 900px) {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.3vw;
  }

  label {
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
  }

  #competition-date {
    margin-bottom: 10px;
  }

  #competition-name-input {
    margin-bottom: 0px;
  }

  #start-countdown-button {
    margin: 1px;
  }
}
