* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Sifonn";
  src: url("/fonts/sifonn.otf") format("opentype");
}

header {
  padding: 42px;
}

body {
  background-color: #2e294e;
  text-align: center;
}

#countdown-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #92809a;
  max-width: 80%;
  margin: 0 auto;
  border-radius: 50px;
  text-align: center;
}

#competition-name-display {
  font-family: "Sifonn", sans-serif;
  color: #e3dee3;
  font-size: 50px;
  text-transform: uppercase;
  padding: 30px 0 10px;
}

#time-units-and-labels {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 170px;
  padding-bottom: 25px;
  color: #181528;
  max-width: 80%;
  margin: 0 auto;
}

.time-units-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
}

.time-unit {
  letter-spacing: 15px;
}

.time-unit-label {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}

#next-competition {
  font-family: "Montserrat", sans-serif;
}

#next-competition h3 {
  font-size: 26px;
  color: #e3dee3;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0 auto;
}

#user-inputs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 80%;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0 15px;
}

.user-input-icon {
  height: 60px;
  padding: 8px;
  margin-right: -4px;
  background-color: #d9d3d9;
  border: 3px solid #2e294e;
  border-right: none;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  vertical-align: middle;
}

.user-input-field {
  height: 60px;
  padding: 12px;
  margin-right: 0;
  width: 300px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #2e294e;
  background-color: #e3dee3;
  border: 3px solid #2e294e;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  vertical-align: middle;
  overflow: visible;
}

.user-input-field:active , .user-input-field:focus{
  outline:none ;
}

#error-message {
  visibility: hidden;
  color: #f0a202;
  font-size: 19px;
  padding-top: 10px;
  padding-bottom: 25px;
}

#start-countdown-button {
  height: 60px;
  width: 200px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: 25px;
  background-color: #e3dee3;
  color: black;
  margin-top: 0;
  cursor: pointer;
  border-radius: 13px;
  border: none;
  transition: background-color 0.1s ease-in-out,color 0.1s ease-in-out;
}

#start-countdown-button:hover {
  background-color: #181528;
  color: white;
}

footer {
  padding: 32px;
}

@media screen and (max-width: 1800px) {
  #competition-name-display {
    font-size: 3vw;
  }

  #time-units-and-labels {
    font-size: 10vw;
  }

  .time-unit {
    letter-spacing: 2vw;
  }

  .time-unit-label {
    font-size: 1.7vw;
  }
}

@media screen and (max-width: 927px) {
  .time-units-container {
    padding: 3vw;
  }

  .time-unit-label {
    font-size: 2vw;
  }

  #next-competition h3 {
    font-size: 3vw;
    padding-bottom: 15px;
  }

  .user-input-field {
    font-size: 15px;
  }
}

@media screen and (max-width: 692px) {
  #time-units-and-labels {
    font-size: 15vw;
    max-width: 70%;
  }

  .time-unit {
    letter-spacing: 0;
  }
}

@media screen and (max-width: 368px) {
  #time-units-and-labels {
    font-size: 50px;
  }

  .time-unit {
    letter-spacing: 0;
    font-size: 50px;
  }

  .time-unit-label {
    font-size: 10px;
  }
}
