* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Sifonn";
  src: url("/fonts/sifonn.otf") format("opentype");
}

header {
  padding: 35px;
}

body {
  background-color: #2e294e;
  text-align: center;
}

#countdown-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #907f9f;
  width: 1500px;
  margin: 0 auto;
}

#competition-name-display {
  font-family: "Sifonn", sans-serif;
  color: #f1e9da;
  font-size: 50px;
  text-transform: uppercase;
  padding: 30px 0px 10px;
}

#time-units-and-labels {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 150px;
}

.time-units-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
}

.time-unit {
  letter-spacing: 15px;
}

.time-unit-label {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

#next-competition h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #f1e9da;
  padding-top: 35px;
  padding-bottom: 15px;
}

input {
  margin: 15px 10px;
  padding: 10px;
}

#start-countdown-button {
  padding: 20px 45px;
  font-family: "Sifonn", sans-serif;
  background-color: #f1e9da;
  color: #2e294e;
}
