* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 30px;
  line-height: 1.5;
}

main {
  padding: 20px;
}

#countdown-timer {
  text-align: center;
  padding: 20px;
  background-color: lightgray;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#countdown-timer h2 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

#countdown-timer div {
  font-family: "Orbitron", sans-serif;
  display: inline-block; /* this makes it horizontally aligned */
  margin: 10px;
  font-size: 100px;
}

.timeunit-label {
  font-size: 14px;
  opacity: 0.8;
}

#next-competition-div {
  margin-top: 20px;
  line-height: 2;
}

form {
  margin-top: 20px;
  margin-bottom: 20px;
}

label {
  margin-left: 20px;
  margin-bottom: 10px;
}

input {
  padding: 5px;
  width: 200px;
}

#submit-button {
  padding: 10px 30px;
  margin-top: 30px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

footer {
  background-color: gray;
  color: #fff;
  padding: 10px;
  font-style: italic;
  font-size: 12px;
}

footer a {
  color: #fff;
}
