* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Sifonn";
  src: url("./src/assets/fonts/sifonn.otf") format("opentype");
}

#headerIcon {
  width: 6rem;
  margin: 1rem;
  @media (max-height: $mantine-breakpoint-xs) {
    width: 3rem;
  }
}

.modalHeading {
  font-weight: bold;
}
