* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Sifonn";
  src: url("./src/assets/fonts/sifonn.otf") format("opentype");
}

#root {
  height: 100%;
  background-color: #2e294e;
  text-align: center;
}

#headerIcon {
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  margin-bottom: 1.5rem;

  @media (max-height: $mantine-breakpoint-xs) {
    width: 3rem;
  }
}

.modalHeading {
  font-weight: bold;
}
