.container {
  width: 80%;
  height: auto;
  border-radius: 2.5rem;
  background-color: #92809a;
  padding: 3rem;
}

.competitionName {
  font-family: "Sifonn", sans-serif;
  color: #e3dee3;
  font-size: 2.5rem;
}

.timeUnit {
  font-family: "Bebas Neue", sans-serif;
  font-size: 10rem;
  letter-spacing: 1rem;
  color: #181528;
}

.timeUnitLabel {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #181528;
  margin-top: -2vh;
}

@media screen and (max-width: $mantine-breakpoint-lg) {
  .container {
    height: auto;
    width: 90%;
    border-radius: 2rem;
  }

  .competitionName {
    font-size: 4vh;
    margin-bottom: 1rem;
  }

  .timeUnit {
    font-size: 17vh;
    letter-spacing: 0.5vw;
  }
}

@media screen and (max-width: $mantine-breakpoint-md) {
  .competitionName {
    font-size: 4vh;
    margin-bottom: 1rem;
  }

  .timeUnit {
    font-size: 16vw;
    letter-spacing: 0;
  }

  .timeUnitLabel {
    font-size: 1.8vh;
    margin-top: -2vh;
  }
}

@media screen and (max-width: $mantine-breakpoint-sm) {
  .timeUnit {
    font-size: 12vh;
    letter-spacing: 2vw;
  }
}

@media screen and (max-width: $mantine-breakpoint-xs) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .timeUnitLabel {
    font-size: 1.8vh;
    margin-top: -4vh;
  }
}
